<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.ithappens.mapper.FilialMapper">
    <insert id="insert">
        INSERT INTO tab_filiais (descricao) VALUES (#{descricao})
    </insert>
    <update id="update">
        UPDATE tab_filiais
        SET descricao=#{descricao}
        WHERE id=#{idFilial};
    </update>
    <select id="findByDescription" resultType="br.com.ithappens.model.Filial">
        <bind name="pattern" value="'%' + descricao + '%'" />
        SELECT id as idFilial, descricao FROM tab_filiais WHERE descricao ilike #{pattern};
    </select>
    <select id="findById" resultType="br.com.ithappens.model.Filial">
        SELECT id as idFilial, descricao FROM tab_filiais WHERE id = #{idFilial}
    </select>
    <select id="findAll" resultType="br.com.ithappens.model.Filial">
        SELECT id as idFilial, descricao FROM tab_filiais
    </select>

</mapper>